.item {
  padding: var(--spacing-md) 0;
}
.item:not(:last-child) {
  border-bottom: 2px solid var(--pink);
}
.item summary {
  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  transition: color 0.2s ease-in-out;
}
.item summary:hover {
  color: var(--pink-highlight);
  cursor: pointer;
}
.item summary svg {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 30px;
  height: 30px;
  transition: opacity 0.3s ease-in-out;
}
.item > p {
  max-height: 0;
  margin: 0;
  line-height: 1.5rem;
  display: block;
  overflow: hidden;
  color: var(--purple);
  transition: max-height 0.3s ease-in-out, margin-top 0.2s ease-in-out;
}
.item details[open] + p {
  margin-top: var(--spacing-md);
}
