@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf');
  
  font-weight: 400, 600, 700;
  font-style: normal;
}

/** Variables **/
:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --pink: hsl(275, 100%, 97%);
  --pink-highlight: #AD28EB;
  --purple: hsl(292, 16%, 49%);
  --purple-shadow: hsla(292, 16%, 49%, 0.3);
  --dark-purple: hsl(292, 42%, 14%);

  /* Spacing */
  --spacing-sm: 5px;
  --spacing-md: 20px;
  --spacing-lg: 30px;

  /* Sizes */
  --font-size: 16px;
  --h1-svg-size: 40px;
}

/** Overrides **/
*, *::after, *::before {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: var(--spacing-md) 0;
}

html, body {
  min-height: 100svh;
  margin: 0;
  padding: 0;
  font-family: 'WorkSans', sans-serif;
  color: var(--dark-purple);
  background-color: var(--pink);
}
body {
  padding: var(--spacing-md);
  padding-top: 18svh;
  background-image: url('../assets/images/background-pattern-desktop.svg');
  background-size: auto 320px;
  background-repeat: no-repeat;
  background-position: center;
  /* eliminates rounding errors which cause a 1px "line" for some screen sizes */
  background-position-y: -1px;
}

@media screen and (min-width: 1440px) {
  body {
    background-size: 100% auto;
  }
}

@media screen and (max-width: 375px) {
  :root {
    --spacing-md: 15px;
    --h1-svg-size: 25px;
  }
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  body {
    background-image: url('../assets/images/background-pattern-mobile.svg');
    background-size: auto 232px;
  }
}
